.post__header {
  margin-bottom: 48px;
}

.post__header__date {
  font-size: 18px;
  font-weight: 600;
  color: #a2a2a2;
  margin-bottom: 8px;
}

.post__header__title {
  margin: 0;
  margin-bottom: 16px;
}

.post__header__tag {
  border-radius: 10px;
  background: #9ce5fb;
  color: #096784;
  margin-right: 12px;
  padding: 2px 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.post__header__source:visited {
  color: inherit;
}
