.post__header {
  margin-bottom: 48px;
}

.post__header__date {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: #ff3b30;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: 4px;
}

.post__header__date__icon {
  margin-right: 4px;
}

.post__header__title {
  margin: 0;
  margin-bottom: 16px;
}

.post__header__tags {
  display: flex;
  flex-wrap: wrap;
}

.post__header__tag {
  border-radius: 8px;
  background: #007aff;
  color: white;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.post__header__tag__icon {
  margin-right: 4px;
}

.post__header__source {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: #34c759;
  margin-bottom: 8px;
  display: inline-flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: 4px;
}

.post__header__source:visited {
  color: white;
}

.post__header__source__icon {
  margin-right: 4px;
}
