.posts {
  margin: 0 -16px;
}

.posts__post {
  list-style: none;
  border-radius: 4px;
}

.posts__post__link {
  display: block;
  height: 100%;
  width: 100%;
  padding: 16px;
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
  border: 4px solid transparent;
}

.posts__post__link:hover,
.posts__post__link:focus {
  background: rgba(0, 122, 255, 0.1);
  border-left-color: rgba(0, 122, 255, 0.3);
  outline: none;
}

.posts__post__link__title {
  margin-bottom: 0;
}

.posts__post__link:hover .posts__post__link__title,
.posts__post__link:focus .posts__post__link__title {
  text-decoration: underline;
}

.posts__post__link div {
  margin-top: 0.8rem;
}
